.portrait {
  background: url("./assets/pixel portrait.png");
}

.winterrose {
  background-position: -510px -241px;
}

.brigid {
  background-position: -406px -241px;
}

.axelrod {
  background-position: -208px -237px;
}

.townes {
  background-position: -508px -127px;
}

.prospero {
  background-position: -310px -350px;
}